{% extends 'layout.html.twig' %}{% endblock %}{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/home/header.css">
<link rel="stylesheet" href="/assets/css/home/partner/partner.css">{% endblock %}{% block content %}<header>
<h1>Association des Habitants d’Orléans La Source</h1></header>{% block content %}

<section>
	<article>
		<div class="magazine">
			<h2>L'INDIEN</h2>
			<img src="assets/images/vector.png" class="decoration">
			{% for copy in magazines %}
				<div class="cover">
					<h3>{{ copy.month }}
						-
						{{ copy.year }}</h3>
					<a href="">
						<img src="/assets/images/l-indien-mars-23.webp" {{ copy.cover }}>
						<p class="number">{{ copy.number }}
							<b>Lire la suite</b>
						</p>
					</div>
				</div>
			</a>
		{% endfor %}
		<a class="show_more" href="">Consulter les anciens numéros ➔</a>
	</article>
</section>

<section class="partners">
	<h1>Nos partenaires</h1>
	<ul>
		{% for partner in partners %}
			<li>
				<h2>
					{{partner.name}}
				</h2>
				<img src="https://nzentrepreneur.co.nz/wp-content/uploads/2022/08/Partner-Logo-placeholder-300x157.png" alt="{{ partner.name }}">
			</li>
		{% endfor %}
	</section>
{% endblock %}
