{% extends 'adminLayout.html.twig' %}

{% block stylesheet %}
	{{ parent() }}
	<link rel="stylesheet" href="/assets/css/admin/adminActuality.css">
{% endblock %}

{% block title %}
	{{ parent() }}
	- Admin - Gestion des actualités
{% endblock %}

{% block content %}
	<main class="container">
		<h3>Admin - Gestion des actualités</h3>
		<a class="addArticle" role="button" href="actualites/ajouter">Ajouter un article</a>
		<div class="list">
			<table>
				<tbody>
					{% for copy in article %}
						<tr>
							<td>
								<ul>
									<li class="article">
										<b>{{ copy.title }}</b><br>Publié le
										{{ copy.date }}<br>{{ copy.content }}</li>
									<a class="update" role="button" href="">Modifier</a>
									<a role="button" href="">Supprimer</a>
								</ul>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<a role="button" href="/admin">Retour à l'accueil</a>
	</main>
{% endblock %}
