{% extends 'layout.html.twig' %}

{% block title %}
	{{ parent() }}
	| Ajout Association
{% endblock %}

{% block content %}
	<main class="container">
		<h1>Ajouter un membre du Conseil</h1>

		<ul class="errors">
			{% for error in errors %}
				<li>{{ error }}</li>
			{% endfor %}
		</ul>
		<form action="" method="POST">
			<label for="lastname">Nom</label>
			<input type="text" id="lastname" name="lastname" required value="{{boardMember.lastname}}">

			<label for="firstname">Prénom</label>
			<input type="text" id="firstname" name="firstname" required value="{{boardMember.firstname}}">

			<label for="job">Statut</label>
			<input type="text" id="job" name="job" required value="{{boardMember.job}}">

			<button>Ajouter</button>
		</form>
		<a href="/admin/association">Retour</a>
	</main>
{% endblock %}
