{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="assets/css/association.css">
{% endblock %}
{% block title %}
	{{ parent() }}
	| Association
{% endblock %}

{% block content %}
	<header>
		<div class="associationTitle">
			<h1>L' ASSOCIATION</h1>
			<img class="horizontalBar" src='assets/images/vector.png' alt="illustration d'une barre horizontale">
		</div>
	</header>
	<main class="container-fluid">
		<div class="presentation">
			<div class="presentationTitle">
				<h2>PRESENTATION DE
					<br>
					L'ASSOCIATION</h2>
				<img class="horizontalBar" src='assets/images/vector.png' alt="illustration d'une barre horizontale">
			</div>
			<section class="container">
				<p>L'AHLS a été créée en 1976 par les habitants soucieux de la réussite de leur quartier. Elle est force de propositions, basée sur une vision d’avenir du quartier de La Source qui reste toujours à construire.</p>
				<p>Trois objectifs constants :</p>
				<ul>
					<li>(S)'informer</li>
					<li>Proposer</li>
					<li>Réunir</li>
				</ul>
				<p>avec la conviction que la citoyenneté est la clé de la réussite de la vie sociale du quartier.</p>
				<img src='assets/images/chaufferie.jpg' alt="photo de la chaufferie de la Source">
				<p>Ce quartier possède de nombreux atouts et une extraordinaire concentration de richesses. Il est au cœur de la modernité au regard du potentiel intellectuel et économique, avec un capital humain d’une grande diversité, sur lequel on doit s’appuyer pour réussir et intégrer.</p>
				<p>Les solidarités doivent l’emporter sur le repli sur soi, tentation majeure aujourd’hui. Tout ceci n’est possible que si ses habitants sont exigeants sur la qualité de leur lieu de vie.</p>
				<p class="last_paragraph">Notre association travaille en ce sens.</p>
			</section>
		</div>


		<div class="presentation">
			<div class="presentationTitle">
				<h2>STATUTS DE
					<br>
					L'ASSOCIATION</h2>
				<img class="horizontalBar" src='assets/images/vector.png' alt="illustration d'une barre horizontale">
			</div>
			<section class="container">
				<h3>(Statuts approuvés lors de l’Assemblée Générale extraordinaire du 13.02.1999)</h3>
				<h4>Art.1: Constitution</h4>
				<p>Il est fondé entre les adhérents aux présents statuts, une Association régie par la loi du 1er juillet 1901 ayant pour dénomination « Association des habitants d’Orléans la Source » et pour sigle A.H.L.S.</p>
				<h4>Art.2 : Objet</h4>
				<p>Cette  Association  a  pour  objet  de  réunir  les  habitants  d’Orléans  La  Source  qui  recherchent une plus grande solidarité entre les hommes, le développement de la citoyenneté et de la démocratie locale, l’amélioration de leur cadre de vie et la valorisation de leur quartier. En liaison avec les autres Associations œuvrant sur le quartier, elle favorise le développement de la vie sociale et culturelle et apporte son concours à la lutte contre l’exclusion. Elle est particulièrement attentive aux initiatives prises par les jeunes dans ces domaines et soutient leurs projets.</p>
				<h4>Art.3 : Moyens d’action</h4>
				<p>Les moyens d’action de l’association sont: la réflexion de ses adhérents au sein de groupes de travail,- l’organisation de réunions publiques ou privées,- l’édition de publications,- l’apport de propositions et de suggestions lors de rencontres avec les représentants des pouvoirs publics,- l'organisation, seule ou en partenariat avec les acteurs de la vie locale, de toute fête ou manifestation susceptible de renforcer la cohésion des habitants.</p>
				<h4>Art.4 : Siège social</h4>
				<p>Le Siège social est fixé au 1 rue Stendhal 45100 ORLEANS</p>
				<h4>Art.5 : Durée</h4>
				<p>La durée de l’association est illimitée</p>
				<h4>Art.6 : Composition</h4>
				<p>Sans distinction d’opinion, d’appartenance politique ou de nationalité, peuvent adhérer aux présents statuts :• En qualité de membres actifs - les personnes physiques habitant Orléans la Source ou y exerçant une activité,- les mineurs de 16 ans à 18 ans sous réserve des dispositions prévues à l’article  14.- les Associations régies par la loi de 1901 ayant leur siège ou des activités à Orléans La Source.• en qualité de membres bienfaiteurs,- toute personne physique ou morale portant intérêt au développement du quartier de la Source.</p>
				<h4>Art.7 : Cotisation</h4>
				<p>Le montant de la cotisation des membres actifs et bienfaiteurs, est fixé chaque année par  l’Assemblée générale sur proposition du Conseil d’Administration.</p>
				<h4>Art.8 : Perte de la qualité de membre</h4>
				<p>La qualité de membre se perd par sa démission adressée au Président du Conseil d’administration; par le décès; par  la  radiation  par  le  Conseil  d’administration  pour  non  -  paiement  de  sa  cotisation,  pour infraction aux présents statuts ou pour motif grave ; dans ces deux premiers cas, l’intéressé aura été préalablement invité par lettre recommandée à se présenter devant le Bureau pour fournir des explications.La démission, le décès ou l’exclusion d’un membre ne mettent pas fin à l’association.</p>
			</section>
		</div>

		<div class="presentation">
			<div class="presentationTitle">
				<h2>L'INDIEN</h2>
				<img class="horizontalBar" src='assets/images/vector.png' alt="illustration d'une barre horizontale">
			</div>
			<section class="container">
				<h3>l'Indien, le journal de l'AHLS</h3>
				<p>L’Indien est né en 1984, quelques années après que la statue du Gardien des Plaines fut érigée au centre de La Source. Fernand Pellicer, qui était encore des nôtres, plaisantait sur sa longévité et promettant le champagne s’il paraissait au delà du dixième numéro...
				</p>
				<p>Après 27 ans d’existence et 102 numéros, l’Indien lui a donné tort : L’Indien fait aujourd’hui partie des média locaux. C’est à notre connaissance le plus ancien des journaux d’association de quartier.</p>
				<p>Comme son effigie au croisement des chemins entre Orléans et La Source, l’Indien s’est toujours tenu droit entre les édiles de la ville et les Sourciens.</p>
				<p>Il a accompagné tous les changements, les permutations, les espoirs, déçus ou réalisés, toujours fidèle à sa doctrine : « Je regarde vers l’avenir à conquérir », sachant qu’il faut inlassablement batailler pour le Mieux Vivre à La Source</p>
				<img src='assets/images/Indien_137_couverture.jpg' alt="photo couverture du journal">
				<p>L’Indien vous tient au courant de ce qui se passe dans le quartier, en privilégiant l’essentiel, mais sans négliger l’accessoire. Il se nourrit des envies des habitants, de combats loyaux, de demandes responsables, de débats fertiles, d’exigences utopiques aussi. Soucieux de la vérité et de la fiabilité de ses informations, il garde sa liberté de parole, d’analyse, de jugement.</p>
				<p>Car il ne vit que de la publicité, des ressources propres de l’association et des cotisations de ses adhérents (sauf l’exceptionnel numéro 100, pour lequel nous avions sollicité des subventions publiques).</p>
				<p>La rédaction et la conception sont prises en charge par l’équipe rédactionnelle, tous des bénévoles. l’Indien, qui paraît trois ou quatre fois par ans, est tiré à 7000 exemplaires et distribué gratuitement dans toutes les boîtes à lettres de La Source, y compris les entreprises et administrations, et mis à disposition dans les commerces et les lieux publics. Il est aussi diffusé aux élus municipaux, et à diverses associations amies.</p>
				<p>Et mis en ligne, dès le bouclage, sur le site Internet de l’association. En couleurs !</p>
			</section>
		</div>


		<h2>MEMBRES DU CONSEIL D'ADMINISTRATION</h2>
		<div class="grid">
			{% for boardMember in boardMembers %}
				<article>
					<header>
						<img src="{{ boardMember.image ?? 'assets/images/boardMember_placeholder.jpg'}}" alt="">
					</header>
					<img src='assets/images/vector.png' alt="">
					<h3>{{ boardMember.firstname}}
						{{ boardMember.lastname}}</h3>
					<p>{{ boardMember.job}}</p>
				</article>
			{% endfor %}
		</div>

		<div class="presentation">
			<div class="presentationTitle">
				<h2>L’AHLS , une aventure collective d’habitants du quartier</h2>
				<img class="horizontalBar" src='assets/images/vector.png' alt="illustration d'une barre horizontale">
			</div>
			<section class="container">
				<h3>Petite histoire de l’AHLS</h3>
				<p>L’Association des Habitants de La Source, devenue en 1999 l’Association des Habitants d’Orléans-La Source, a été créée en 1976. Sa vocation est toujours de contribuer à réussir la ville, avec les habitants, les associations locales, nombreuses, diverses et très actives, et avec tous ceux qui ont un pouvoir de décision et sont ouverts au dialogue : chacun le sait, la diversité des opinions, la confrontation des idées, l’échange des arguments conduisent à de meilleures décisions qu’une réflexion solitaire. Les objectifs de l’association sont très clairement définis dans ses statuts : permettre aux habitants de s’exprimer sur les projets qui engagent leur avenir, faciliter leur information, et travailler à ce qu’il fasse bon vivre à La Source.
				</p>
				<p>À l’origine de La Source en 1959, il y a la volonté de faire renaitre l’Université d’Orléans dans le cadre de la construction d’une ville nouvelle. Une ville, ce sont des immeubles, des rues, des équipements, mais aussi et surtout ce sont ceux qui y vivent, s’y rencontrent, apprennent à se connaitre dans leur différence, discutent, s’opposent, mais toujours se respectent et partagent leurs talents pour le bien de tous. La Source, c’est tout cela, un lieu vivant qui se construit jour après jour, avec ses réussites et ses difficultés.</p>
				<p>Les 518 premiers logements ont été mis en chantier en 1963 aux Bouleaux, à Beauchamps et aux Genets. Les premiers habitants sont arrivés fin 1964. Ils ont très vite su donner vie à leur nouveau quartier, organiser des rencontres conviviales, encadrer les jeunes. De nombreuses associations sportives et culturelles ont été fondées durant ces années pionnières. La Maison des Jeunes et de la Culture s’est ouverte en 1970, et en 1971 une Union des Associations de La Source a vu le jour, qui s’est beaucoup investie pour la construction de la salle Gérard Philippe, de la bibliothèque et de la MJC. En 1976, la fondation de l’Association des Habitants de La Source (AHLS) s’inscrit dans la continuité de cette intense mobilisation citoyenne.</p>
				<p>Dès sa création en 1976, l’AHLS s’est engagée avec beaucoup d’énergie dans le projet d’achèvement du Centre urbain autour de la dalle, voulant rompre avec le modèle des grands ensembles et retrouver une dimension plus humaine. Une plantation d’arbres par les habitants a convaincu la ville et l’aménageur d’adopter un autre projet, achevé en 1984.</p>
				<p>Au mois de juin 1979, en lien avec d’autres associations sourciennes, une journée vélo a rassemblé plus de 200 personnes pour demander la création d’une première piste cyclable et promouvoir ce mode de déplacement.</p>
				<p>En 1981 l’AHLS prend une part décisive dans le grand débat sur l’action culturelle à La Source. Elle prend en charge la réalisation d’une affiche bimestrielle annonçant l’ensemble des spectacles et manifestations culturelles, réalise et distribue un plan et édite un petit guide de La Source.</p>
				<p>Au printemps 1982, l’AHLS participe à une étude destinée à donner davantage de moyens aux écoles dans le quartier HLM. Cette action aboutira en 1992 à la mise en place d’une Zone d’Éducation Prioritaire. Le combat pour l’éducation restera une préoccupation permanente de l’association.</p>
				<p>La fin de l’année 1984 est marquée par la naissance de deux associations qui vont faire route avec la nôtre et qui joueront un grand rôle dans le quartier : Convergence pour l’éducation à la citoyenneté et Escale pour l’animation en direction des jeunes.</p>
				<p>C’est cette année-là que commence notre action pour demander l’égalité de traitement des Sourciens devant les impôts locaux. Nous n’avons pas été entendus jusqu’ici malgré la justesse et la force de nos arguments. Cependant, tout le monde, politiques compris, reconnaît que l’assiette de la fiscalité locale est devenue complètement inadaptée et injuste.</p>
				<p>L’hiver 86/87 verra la mise en route de la première campagne des Restos du Cœur soutenue par l’AHLS. Une association locale des Restos du Cœur prendra le relais en 1990.</p>
				<p>La Coordination Associative, qui s’est organisée à partir des années 90, regroupe les associations et des partenaires institutionnels. Très active, elle est notamment à l’origine de la création en 1991 de la Régie de Quartier Reperes et d’Acm Formation.</p>
				<p>Cette période a été marquée par un essor de notre quartier. L’opération Banlieue 89 connaîtra elle aussi une gestation difficile. Il aura fallu beaucoup de débats et de combats avant d’aboutir en 1996 au centre urbain actuel, qui rapproche la ville de son université. C’est à cette époque qu’a été construite la Salle des Fêtes Fernand Pellicer.</p>
				<p>L’AHLS s’est beaucoup investie dans le travail d’animation culturelle Mémoire de La Source menée par la troupe des Fous de Bassan, qui s’est déroulée en 1995. La publication en 2000 de témoignages recueillis auprès des habitants, Histoires et Memoires de La Source, s’inscrit dans la même démarche.</p>
				<p>L’AHLS a contribué à l’organisation des premières fêtes du quartier. Le Comité des Fêtes a pris le relais en 1991. Elle a également réalisé les premières balades à travers La Source, mises aujourd’hui au programme de nombreux groupes orléanais.</p>
				<p>Des dégradations et la violence de quelques-uns avaient marqué la fin de l’année 1998. Le rassemblement organisé le 23 janvier 1999 à l’initiative de la Coordination Associative appelait à un engagement responsable de tous et affichait publiquement et avec force le refus des actes d’incivilité.</p>
				<p>L’AHLS s’intéresse au Grand Projet de Ville dès l’année 2000. Le Livre Blanc du Collectif Inter-Associatif, publié en septembre 2003, rassemble réflexions et propositions, et constitue une évidente démonstration de la capacité des habitants à être acteurs de l’évolution de leur cité.</p>
				<p>L’AHLS a très régulièrement informé ses adhérents sur ses activités par un bulletin d’information, première ébauche de ce qui allait devenir l’Indien dont le premier numéro est paru en 1984. Aujourd’hui nous en sommes à plus de cent numéros, ce qui prouve la solidité de l’entreprise et les capacités à surmonter les inévitables difficultés, et l’intérêt de ses lecteurs.</p>
				<p>Beaucoup d’autres actions de l’AHLS, menées le plus souvent avec d’autres associations, mériteraient d’être mentionnées (la déviation du CD 326, l’incinérateur de la station d’épuration, etc.). Celles que nous avons retenues devraient suffire à convaincre de l’utilité de notre association, dont l’une des caractéristiques essentielles est d’être ouverte à toutes les bonnes volontés d’où qu’elles viennent, sans distinction ni d’origine, ni d’opinions politique, philosophique ou religieuse.</p>
			</section>
		</div>
	</div>

</main>{% endblock %}
