{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="assets/css/association.css">
{% endblock %}
{% block title %}
	{{ parent() }}
	| Association
{% endblock %}

{% block content %}
	<header>
		<div class="associationTitle">
			<h1>L' ASSOCIATION</h1>
			<img class="horizontalBar" src='assets/images/vector.png' alt="illustration d'une barre horizontale">
		</div>
	</header>
	<main class="container-fluid">
		<div class="presentation">
			<div class="presentationTitle">
				<h2>PRESENTATION DE
					<br>
					L'ASSOCIATION</h2>
				<img class="horizontalBar" src='assets/images/vector.png' alt="illustration d'une barre horizontale">
			</div>
			<section class="container">
				<p>L'AHLS a été créée en 1976 par les habitants soucieux de la réussite de leur quartier. Elle est force de propositions, basée sur une vision d’avenir du quartier de La Source qui reste toujours à construire.</p>
				<p>Trois objectifs constants :</p>
				<ul>
					<li>(S)'informer</li>
					<li>Proposer</li>
					<li>Réunir</li>
				</ul>
				<p>avec la conviction que la citoyenneté est la clé de la réussite de la vie sociale du quartier.</p>
				<img src='assets/images/chaufferie.jpg' alt="photo de la chaufferie de la Source">
				<p>Ce quartier possède de nombreux atouts et une extraordinaire concentration de richesses. Il est au cœur de la modernité au regard du potentiel intellectuel et économique, avec un capital humain d’une grande diversité, sur lequel on doit s’appuyer pour réussir et intégrer.</p>
				<p>Les solidarités doivent l’emporter sur le repli sur soi, tentation majeure aujourd’hui. Tout ceci n’est possible que si ses habitants sont exigeants sur la qualité de leur lieu de vie.</p>
				<p>Notre association travaille en ce sens.</p>
			</section>
		</div>

		<div class="presentation">
			<div class="presentationTitle">
				<h2>L'INDIEN</h2>
				<img class="horizontalBar" src='assets/images/vector.png' alt="illustration d'une barre horizontale">
			</div>
			<section class="container">
				<h3>l'Indien, le journal de l'AHLS</h3>
				<p>L’Indien est né en 1984, quelques années après que la statue du Gardien des Plaines fut érigée au centre de La Source. Fernand Pellicer, qui était encore des nôtres, plaisantait sur sa longévité et promettant le champagne s’il paraissait au delà du dixième numéro...
				</p>
				<p>Après 27 ans d’existence et 102 numéros, l’Indien lui a donné tort : L’Indien fait aujourd’hui partie des média locaux. C’est à notre connaissance le plus ancien des journaux d’association de quartier.</p>
				<p>Comme son effigie au croisement des chemins entre Orléans et La Source, l’Indien s’est toujours tenu droit entre les édiles de la ville et les Sourciens.</p>
				<p>Il a accompagné tous les changements, les permutations, les espoirs, déçus ou réalisés, toujours fidèle à sa doctrine : « Je regarde vers l’avenir à conquérir », sachant qu’il faut inlassablement batailler pour le Mieux Vivre à La Source</p>
				<img src='assets/images/Indien_137_couverture.jpg' alt="photo couverture du journal">
				<p>L’Indien vous tient au courant de ce qui se passe dans le quartier, en privilégiant l’essentiel, mais sans négliger l’accessoire. Il se nourrit des envies des habitants, de combats loyaux, de demandes responsables, de débats fertiles, d’exigences utopiques aussi. Soucieux de la vérité et de la fiabilité de ses informations, il garde sa liberté de parole, d’analyse, de jugement.</p>
				<p>Car il ne vit que de la publicité, des ressources propres de l’association et des cotisations de ses adhérents (sauf l’exceptionnel numéro 100, pour lequel nous avions sollicité des subventions publiques).</p>
				<p>La rédaction et la conception sont prises en charge par l’équipe rédactionnelle, tous des bénévoles. l’Indien, qui paraît trois ou quatre fois par ans, est tiré à 7000 exemplaires et distribué gratuitement dans toutes les boîtes à lettres de La Source, y compris les entreprises et administrations, et mis à disposition dans les commerces et les lieux publics. Il est aussi diffusé aux élus municipaux, et à diverses associations amies.</p>
				<p>Et mis en ligne, dès le bouclage, sur le site Internet de l’association. En couleurs !</p>
			</section>
		</div>


		<h2>MEMBRES DU CONSEIL D'ADMINISTRATION</h2>
		<div class="grid">
			{% for boardMember in boardMembers %}
				<article>
					<header>
						<img src="{{ boardMember.image ?? 'assets/images/boardMember_placeholder.jpg'}}" alt="">
					</header>
					<img src='assets/images/vector.png' alt="">
					<h3>{{ boardMember.firstname}}
						{{ boardMember.lastname}}</h3>
					<p>{{ boardMember.job}}</p>
				</article>
			{% endfor %}
		</div>
	</div>

</main>{% endblock %}
