{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="assets/css/association.css">
{% endblock %}
{% block title %}
	{{ parent() }}
	| Association
{% endblock %}

{% block content %}
	<header>
		<div class="associationTitle">
			<h1>L' ASSOCIATION</h1>
			<img class="horizontalBar" src='assets/images/vector.png' alt="illustration d'une barre horizontale">
		</div>
	</header>
	<main class="container-fluid">
		<div class="presentation">
			<div class="presentationTitle">
				<h2>PRESENTATION DE
					<br>
					L'ASSOCIATION</h2>
				<img class="horizontalBar" src='assets/images/vector.png' alt="illustration d'une barre horizontale">
			</div>
			<section class="container">
				<p>L'AHLS a été créée en 1976 par les habitants soucieux de la réussite de leur quartier. Elle est force de propositions, basée sur une vision d’avenir du quartier de La Source qui reste toujours à construire.</p>
				<p>Trois objectifs constants :</p>
				<ul>
					<li>(S)'informer</li>
					<li>Proposer</li>
					<li>Réunir</li>
				</ul>
				<p>avec la conviction que la citoyenneté est la clé de la réussite de la vie sociale du quartier.</p>
				<img src='assets/images/chaufferie.jpg' alt="photo de la chaufferie de la Source">
				<p>Ce quartier possède de nombreux atouts et une extraordinaire concentration de richesses. Il est au cœur de la modernité au regard du potentiel intellectuel et économique, avec un capital humain d’une grande diversité, sur lequel on doit s’appuyer pour réussir et intégrer.</p>
				<p>Les solidarités doivent l’emporter sur le repli sur soi, tentation majeure aujourd’hui. Tout ceci n’est possible que si ses habitants sont exigeants sur la qualité de leur lieu de vie.</p>
				<p class="last_paragraph">Notre association travaille en ce sens.</p>
			</section>
		</div>


		<div class="presentation">
			<div class="presentationTitle">
				<h2>STATUTS DE
					<br>
					L'ASSOCIATION</h2>
				<img class="horizontalBar" src='assets/images/vector.png' alt="illustration d'une barre horizontale">
			</div>
			<section class="container">
				<h3>(Statuts approuvés lors de l’Assemblée Générale extraordinaire du 13.02.1999)</h3>
				<h4>Art.1: Constitution</h4>
				<p>Il est fondé entre les adhérents aux présents statuts, une Association régie par la loi du 1er juillet 1901 ayant pour dénomination « Association des habitants d’Orléans la Source » et pour sigle A.H.L.S.</p>
				<h4>Art.2 : Objet</h4>
				<p>Cette  Association  a  pour  objet  de  réunir  les  habitants  d’Orléans  La  Source  qui  recherchent une plus grande solidarité entre les hommes, le développement de la citoyenneté et de la démocratie locale, l’amélioration de leur cadre de vie et la valorisation de leur quartier. En liaison avec les autres Associations œuvrant sur le quartier, elle favorise le développement de la vie sociale et culturelle et apporte son concours à la lutte contre l’exclusion. Elle est particulièrement attentive aux initiatives prises par les jeunes dans ces domaines et soutient leurs projets.</p>
				<h4>Art.3 : Moyens d’action</h4>
				<p>Les moyens d’action de l’association sont: la réflexion de ses adhérents au sein de groupes de travail,- l’organisation de réunions publiques ou privées,- l’édition de publications,- l’apport de propositions et de suggestions lors de rencontres avec les représentants des pouvoirs publics,- l'organisation, seule ou en partenariat avec les acteurs de la vie locale, de toute fête ou manifestation susceptible de renforcer la cohésion des habitants.</p>
				<h4>Art.4 : Siège social</h4>
				<p>Le Siège social est fixé au 1 rue Stendhal 45100 ORLEANS</p>
				<h4>Art.5 : Durée</h4>
				<p>La durée de l’association est illimitée</p>
				<h4>Art.6 : Composition</h4>
				<p>Sans distinction d’opinion, d’appartenance politique ou de nationalité, peuvent adhérer aux présents statuts :• En qualité de membres actifs - les personnes physiques habitant Orléans la Source ou y exerçant une activité,- les mineurs de 16 ans à 18 ans sous réserve des dispositions prévues à l’article  14.- les Associations régies par la loi de 1901 ayant leur siège ou des activités à Orléans La Source.• en qualité de membres bienfaiteurs,- toute personne physique ou morale portant intérêt au développement du quartier de la Source.</p>
				<h4>Art.7 : Cotisation</h4>
				<p>Le montant de la cotisation des membres actifs et bienfaiteurs, est fixé chaque année par  l’Assemblée générale sur proposition du Conseil d’Administration.</p>
				<h4>Art.8 : Perte de la qualité de membre</h4>
				<p>La qualité de membre se perd par sa démission adressée au Président du Conseil d’administration; par le décès; par  la  radiation  par  le  Conseil  d’administration  pour  non  -  paiement  de  sa  cotisation,  pour infraction aux présents statuts ou pour motif grave ; dans ces deux premiers cas, l’intéressé aura été préalablement invité par lettre recommandée à se présenter devant le Bureau pour fournir des explications.La démission, le décès ou l’exclusion d’un membre ne mettent pas fin à l’association.</p>
			</section>
		</div>


		<h2>MEMBRES DU CONSEIL D'ADMINISTRATION</h2>
		<div class="grid">
			{% for boardMember in boardMembers %}
				<article>
					<header>
						<img src="{{ boardMember.image ?? 'assets/images/boardMember_placeholder.jpg'}}" alt="">
					</header>
					<img src='assets/images/vector.png' alt="">
					<h3>{{ boardMember.firstname}}
						{{ boardMember.lastname}}</h3>
					<p>{{ boardMember.job}}</p>
				</article>
			{% endfor %}
		</div>
	</div>

</main>{% endblock %}
